*.a
*.exe
*.lib
*.o
*.obj
*.os
*.pyc
*.pyo
*.so
*~
.sconf_temp
.sconsign.dblite
Nsound.egg-info/
build/
config.log
core
dist/
portaudio.log
setup_builder.py
src/Nsound/Nsound.h
src/bin/ns_readwaveheader
src/bin/ns_vocoder
src/examples/bebot
src/examples/cepstral_pitch_estimate
src/examples/dynamic_filter
src/examples/example1
src/examples/example2
src/examples/example3
src/examples/example4
src/examples/example5
src/examples/example6
src/examples/interstellar
src/examples/mynameis
src/examples/stretcher
src/test/Main
src/test/test_wavefile1.wav
src/test/test_wavefile2.wav
swig/Nsound.py
swig/nsound_wrap.cxx
