name: C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      name: Checkout source
    - name: Install dependencies
      run: |
        sudo apt-get update && sudo apt-get -y install scons portaudio19-dev libao-dev
    - name: Build nsound
      run: |
        scons
    - name: Run unit tests
      run: |
        scons --unit-test
